@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #222e50;
}

::-webkit-scrollbar-thumb {
  background: #324376;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
